<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Nueva Imagen</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body th:fragment="addImage">
    <div class="text-center mb-4">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addImageModal">Añadir Nueva Imagen</button>
    </div>

    <div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="addImageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addImageModalLabel">Añadir Imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/index/addImage}" th:object="${image}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="imageTitle">Título</label>
                            <input th:field="*{title}" th:value="${title}" type="text" class="form-control" id="imageTitle" name="title" placeholder="Introduce el título de la imagen" required>
                        </div>
                        <div class="form-group">
                            <label for="imageFile">Selecciona una imagen</label>
							<!-- <input th:field="*{url}" th:value="${url}" type="file" class="form-control-file" id="imageFile" name="image" accept="image/*" required> -->
                        	<input type="file" class="form-control-file" id="imageFile" name="imageFile" accept="image/*" required>
                        </div>
                        <div class="modal-footer">
		                	<!-- <input type="hidden" th:field="*{id}" th:value="${id}"> -->
		                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		                    <button type="submit" class="btn btn-primary">Guardar Imagen</button>
		                </div>
                   </form>
                </div>                
            </div>
        </div>
    </div>
</body>
</html>
