<body th:fragment="editImage">
     <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editImageModalLabel">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form th:action="@{/index/editImage}" th:object="${image}" method="post" enctype="multipart/form-data">
					    <input type="hidden" th:field="*{id}" />
					
					    <div class="form-group">
					        <label for="editImageTitle">Título</label>
					        <input type="text" th:field="*{title}" class="form-control" id="editImageTitle" placeholder="Nuevo título de la imagen">
					    </div>
					    
					    <div class="form-group">
					        <label for="editImageFile">Selecciona una nueva imagen</label>
					        <input type="file" name="imageFile" class="form-control-file" id="editImageFile" accept="image/*">
					    </div>
					    
					    
					    
					    <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <button type="submit" class="btn btn-primary">Guardar cambios</button>
					    </div>
					</form>

                </div>
            </div>
        </div>
    </div>

	<script>
	    document.addEventListener('DOMContentLoaded', () => {
	        const editModal = document.getElementById('editModal');
	        const editButtons = document.querySelectorAll('[data-target="#editModal"]');
	        
	        editButtons.forEach(button => {
	            button.addEventListener('click', () => {
	                const imageId = button.getAttribute('data-id');
	                const title = button.getAttribute('data-title');
	                const url = button.getAttribute('data-url');
	                
	                editModal.querySelector('input[name="id"]').value = imageId;
	                editModal.querySelector('input[name="url"]').setAttribute('value', url);
	            });
	        });
	    });
	</script>
</body>